//
//  Config.xcconfig
//  BidderBidder
//
//  Created by 김예림 on 2022/08/09.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "debugConfig.xcconfig"

//Server URL
domainURL = http:/$()/bidderbidderapi.kro.kr:8080
writeURL = /product/write
