<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996585179232-o4ns7oqiu5s90uaj3m2jn2cokavi3f7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996585179232-o4ns7oqiu5s90uaj3m2jn2cokavi3f7t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996585179232-dbkh237fdio0o20dik55nkfotoa1dsja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaxXjvr0bA13IJ6a8cxm_QD6NGRwFnYkc</string>
	<key>GCM_SENDER_ID</key>
	<string>996585179232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fakeDevelopers.BidderBidder</string>
	<key>PROJECT_ID</key>
	<string>ddangddangmarket-51846</string>
	<key>STORAGE_BUCKET</key>
	<string>ddangddangmarket-51846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996585179232:ios:d9f4e78f411a6e1573db05</string>
</dict>
</plist>